<footer>
    <div class="company-info">
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Careers</a>
    </div>
    <div class="legal">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
    </div>
    <div class="resources">
        <a href="#">Blog</a>
        <a href="#">Help Center</a>
    </div>
    <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
</footer> 

  
</body>
<script src="./script/script.js"></script>
</html>