<%- include('partials/header.ejs') %>
<div class="jobPageContainer">
    <div class="jobPageTitle">
        Full Stack Web  Development
    </div>
    <div class="jobPageCompany">
        Systems Pvt Ltd
    </div>
</div>




<%- include('partials/footer.ejs') %>