*{
    font-family: 'Ubuntu', sans-serif;
    }
    :root
    {
        --primary-color:#00FFAB;
        --secondary-color:#14C38E;
        --tertiary-color:#B8F1B0;
        --fourth-color:#F1EFEF;
        --package-background-color:#7D7C7C;
        --form-background-color:#E3FCBF;
    }
    
    
    body{
        margin: 0px;
    }
    
    /* ------------------------------------Header ------------------------------------------*/
    .navbar{
        background-color:var(--primary-color);
    }
    
    
    .navbar .title a
    {
        font-family: 'Croissant One', cursive;
        font-size: 30px;
        margin: 0 25px;
    }
    
    
    .pages{
        display: flex;
    }
    
    
    .pages ul li{
        list-style: none;
        margin-top: 10px;
    }
    
    
    .navbar a{
        text-decoration: none;
        color:#000;
        letter-spacing: 1px;
        font-size: 20px;
        transition: ease-in 0.2s;
        border:0;
        padding: 7px;
        border-radius: 12px ;
    }
    
    .navbar ul li a:hover{
        /* background-color:var(--secondary-color); */
        color: #fff;
    }
    
    .navbar ul li a:focus{
        outline: none;
    }


    .navbar #searchInput{
        border: none;
        border-radius: 8px;
        margin: 7px 0px 0 100px;
        height: 2.5rem;
        width: 20rem;
        font-family: inherit;
        /* font-weight: bold; */
        padding: 0px 1rem;

    }

    .navbar #searchInput:focus{
        outline: none;
    }

    .navbar #searchButton{
        font-size: 20px;
        border: 0;
        padding: 7px;
        outline: none;
        background-color:transparent;
        border-radius: 12px;
        transition: ease-in 0.2s;
    }
    .navbar #searchButton:hover{    
        color: #fff;
    }
    
    .navbar .login,.postAJob{
        border: 0;
        margin: 0px 20px;
        padding: 7px;
        outline: none;
        background-color:transparent;
        border-radius: 12px;
        transition: ease-in 0.2s;
    
    
    }.navbar .login:hover a,
    .post-a-job:hover a {
      color: #fff;
    }
    
    
    
    /* .navbar .login:hover,.postAJob:hover{
        background-color: var(--secondary-color);
    } */
    
    .nabvar .login:hover a,.postAJob:hover a{
        color: #fff;
    }
    
    .navbar .login:focus,.postAJob:focus{
        outline: none;
    }


     /* ------------------------------------Header ends here ------------------------------------------*/